.App {
  text-align: center;
}

.dish-card{
  cursor: pointer;
  margin: 20px auto;
  width: 50%;
  background-color: black;
  box-shadow: 3px 2px white;
  padding: 10px;
  background-color: burlywood;
}
.addData {
  text-align: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 5px solid black;
}
.addData h2{
  text-align: center;
  text-transform: uppercase;
}
.addData input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.addData input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.addData input[type=submit]:hover {
  background-color: #45a049;
}
