.detail-card {
    width: 70%;
    background-color: burlywood;
    text-align: center;
    box-shadow: 5px 10px 5px 10px #888888;
    margin: 0 auto;
}
.detail-card h2 {
    border-bottom: 2px solid black;
    padding: 10px;
}
.detail-card p {
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border: 3px solid black;
}